*{
    padding: 0;
    margin: 0;
}

/* navbar logo */
label.logo{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 35px;
	line-height: 25px;
	margin: 15px;
}

/* nAVBAR*/
.navbar{
	padding: 8rem;
}
.navbar-nav li{
	padding-right: 20px;
}
.nav-link{
	font-size: 1.1em !important;
}

.fa-home, .fa-address-card, .fa-terminal, .fa-code-branch, .fa-exclamation-triangle {
	font-size: 30px !important;
	color: white !important;
}


/*carousel*/
.carousel-inner img{
	width: 100%;
	height: 100%;
}

.carousel-caption{
	position: absolute;
	top: 50%;
	transform: translateX(-50%);
	transform: translateY(-50%);
}

.carousel-caption h1{
	font-size: 500%;
	text-transform: capitalize;
}

.about {
	border: 0px !important;
}
.about a:hover {
	text-decoration: none !important;
	
}
.btn-primary {
	background-color: #0bbfff !important;
	border: 0px !important;
}


/* intro */
.greet{
	background-color: white;
	border-radius: 10%;
}
.name, .web, .quote{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.nam{
	color: #00BBFF;
}

.esocial{
	line-height: 80px;
	background-color:  #00BBFF;
	width: 100%;
}

.fa-facebook, .fa-youtube, .fa-skype, .fa-linkedin, .fa-whatsapp {
	font-size: 40px;
	padding: 15px;
	color: white;
}

.fa-facebook:hover{
	color:  #3b5998;
	transition: .6s;
}
.fa-youtube:hover{
	color: #c4302b;
	transition: .6s;
}
.fa-skype:hover{
	color: #00aff0;
	transition: .6s;
}
.fa-linkedin:hover{
	color: #0e76a8;
	transition: .6s;
}
.fa-whatsapp:hover{
	color: #25D366;
	transition: .6s;
}
/*about*/


div.student{
	background-color: white;
	font-size: 25px;
	font-weight: bold;
}

div.coder{
	background-color: white;
	font-size: 25px;
	font-weight: bold;
}
.fa-graduation-cap, .fa-laptop-code{
	font-size: 3rem;
}

.fa-graduation-cap{
	color: rgb(11, 4, 77);
}
.fa-latop-code{
	color: orangered;
}

/* Skills*/
.htm5, .bootstrap4, .css3{
	font-size: 25px;
	font-weight: bold;
}

.fa-html5{
	color: #e54d26;
	font-size: 100px;
}
.fa-bootstrap{
	color: #563d76;
	font-size: 4em;
}
.fa-css3-alt{
	color: #2163af;
	font-size: 4em;
}


/*Connect*/
.social a{
	padding: 3rem;
}
.fa-github, .fa-at, .fa-figma ,.fa-dribbble {
	font-size: 3em;
}

.fa-github {
	color: rgba(6, 6, 10, 0.842);
}
.fa-at {
	color:rgba(6, 86, 235, 0.808);
}
.fa-figma {
	color: rgba(5, 7, 14, 0.781);
}
.fa-dribbble{
	color:  rgb(234, 76, 137);
}
.fa-github:hover{

}
.fa-at:hover{
	color:rgba(6, 86, 235, 0.808)
	transition: .6s;
}
.fa-figma:hover{

}
/*footer*/
.copyright{
	color: white;
}

/* Media Query*/

@media (max-width: 992px){
	.carousel-caption h1{
		font-size: 500%;
	}
	.esocial{
		line-height: 80px;
	}

}

@media (max-width: 768px){
	.carousel-caption h1{
		font-size: 300%;
	}
	.about, .btn-primary{
		font-size: 70% !important;
	}
	.esocial{
		line-height: 50px;
	}

}

@media (max-width: 576px){
	.carousel-caption h1{
		font-size: 100%;
	}
	.about, .btn-primary{
		font-size: 16.67% !important;
	}
	.esocial{
		line-height: 30px;
	}

}