*{
	margin: 0;
	padding: 0;
}
.pic{
	background: url(web1.jpg);
	background-size: cover;
	height: 100vh;
	background-position: center;
}
.webicon{
	position: absolute;
	top: 20%;
	left: 30%;
}
body{
	background-image: url(webfixedicon.jpg);
	background-attachment: fixed;
	background-size: cover;
}
nav{
	background: rgba(0,0,0,0.0);
	height: 80px;
	width: 100%;
	margin: 0;
	position: absolute;
	top: 0;
}
label.logo{
	color: #0BBFFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 35px;
	line-height: 80px;
	margin: 30px;
}
nav ul{
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
	font-size: 17px;
	font-weight: normal;
}
nav ul li a{
	color: white;
	text-transform: uppercase;
	padding: 7px 13px;
	border-radius: 3px;
	transition-duration: .3s;
}
a.active,a:hover{
	background-color: white;
	color: #0BBFFF;
	transition: .6s;
}
a{
	text-decoration: none;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;

	}
}
@media (max-width: 858px){
	.checkbtn{
		display: block;
	}
	ul{
		position: absolute;
		width: 100%;
		height: 100vh;
		background: #00BBFF;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	a:hover,a.active{
		background-color: white;
		color: black;
	}
	#check:checked ~ ul{
		left: 0;
	}
	.greet{
		display: none;
	}
}
a{
	text-decoration: none;
}

#hello{
	padding: 30px;
	color: white;
}
div.greet{
	background-color: rgba(0,0,0,0.0);
	 box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
		-6px -6px 10px -1px rgba(255,255,255,0.7);
	position: absolute;
	top: 40%;
	left: 10%;
	border-radius: 10%;
	width: 450px;
	min-width: 150px;
	height: 300px;

}
#ru{
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	left: 38.82%;
	top: 37%;
	font-weight: bold;
	color: #0BBFFF;


}
#name{
	padding-left: 60px;
	padding-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 60px;

}
#web{
	padding-left: 64px;
	padding-bottom: 4px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 60px;
}

div.student{
	border-radius: 10%;
	margin-right: 50px;
	margin-top: 30px;
	padding: 7px;
	width: 300px;
	height: 280px;
	align-items: center;
	justify-content: center;
	box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
		-6px -6px 10px -1px rgba(255,255,255,0.7);

}
.about{
	display: flex;
	align-items: center;
	justify-content: center;
}
div.coder{
	border-radius: 10%;
	margin-right: 50px;
	margin-top: 30px;
	padding: 7px;
	width: 300px;
	height: 280px;
	align-items: center;
	justify-content: center;
	box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
		-6px -6px 10px -1px rgba(255,255,255,0.7);
}
#code{
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
}
#mainabout{
	text-align: center;
}

.main{
	margin-top: 60px;
}
div.selfpic{
	background-color: blue;
	margin-left: 800px;
	margin-right: 200px;
	position: absolute;
	top: 800px;
	width: 300px;
	height: 255px;
}
hr.hr1{
	border-top: 2px solid black;
}
hr.hr3{
	border-top: 2px solid black;
}
#hi{
	margin-top: 10px;
	color: black;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	
}
#about{
	font-family: 'Montserrat', 'Raleway', sans-serif;
	
	font-size: 25px;
}
#quote{
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	margin-left: 4px;
	margin-right: 4px;
	text-align: center;
}
#jobs{
	font-weight: normal;
	font-family: 'Sansita Swashed', cursive;
	font-size: 13px;
	margin-left: 165px;
	text-align: center;
}
#apple{
	font-weight: normal;
	font-family: 'Sansita Swashed', cursive;
	font-size: 11px;
	margin-left: 165px;
	text-align: center;
}

#skills{
	background-color: rgba(0,0,0,0);
	font-size: 60px;
	height: 100px;
	width: 60%;
	font-family: 'Montserrat', sans-serif;
	
	margin-top: 220px;
	margin-left: 250px;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.hr2{
	border-top: 5px solid #00BBFF;
}

.container{
	background-color: ;
	width: 100%;
	height: 500px;
	justify-content: center;
	display: flex;

}
.row-1{
	display: flex;
	justify-content: center;
	align-items: center;
}
.python{
	background-color:;
	height: 230px;
	width: 250px;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: normal;
	font-size: 23px;
	font-family: 'Nanum Gothic', sans-serif;
	margin-right: 40px;
}
.dart{
	background-color:;
	height: 230px;
	width: 250px;
	text-align: center;
	font-weight: normal;
	font-size: 23px;
	font-family: 'Nanum Gothic', sans-serif;
	margin-left: 40px;
}